html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

.startButton {
  appearance: none; 
  position: absolute; /* Add this line */
  top: 10vh; /* Position the button */
  left: 1vw; /* Position the button */
  background-color: rgba(0, 17, 255, 0.5); /* Blue tint with 50% opacity */
  color: white; /* Set text color to white */
  border: none; /* Remove border */
  padding: 10px 20px; /* Add padding */
  border-radius: 0.5vh; /* Add border radius for rounded corners */
}

/* Style for the slider */
.slider {
  -webkit-appearance: none;
  appearance: none;
  position: absolute; /* Add this line */
  top:2vh; /* Position the slider */
  left: 1vw; /* Position the slider */
  width: 30%; /* Full-width */
  height: 1vh; /* Slider thickness */
  background-color: #686363; 
  opacity: 0.6; 
  border-radius: 1vh; 
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1vw; 
  height: 1vh;
  border-radius: 50%;
  background: #3704c5; 
  cursor: pointer; 
}

/* Style for the slider */
.volSlider {
  -webkit-appearance: none;
  position: absolute; /* Add this line */
  appearance: none;
  top:5vh; /* Position the slider */
  left: 1vw; /* Position the slider */
  width: 30%; /* Full-width */
  height: 1vh; /* Slider thickness */
  background-color: #686363; 
  opacity: 0.6; 
  border-radius: 1vh; 
}

.volSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1vw; 
  height: 1vh;
  border-radius: 50%;
  background: #41c504; 
  cursor: pointer; 
}