html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

/* Style for the slider */
.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 20vw; 
  height: 1vh;
  background-color: #686363; 
  opacity: 0.6; 
  border-radius: 10px; 
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1vw; 
  height: 1vh;
  border-radius: 50%;
  background: #3704c5; 
  cursor: pointer; 
}